* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --text-color: #f4d6cc;
}

h2,
h3,
p {
  color: var(--text-color);
}

h3,
.sub-title,
.followers {
  color: #a3928c;
}

h2 {
  font-size: 2em;
}

h3 {
  color: var(--text-color);
  font-weight: lighter;
}

.card {
  width: 500px;
  display: grid;
  grid-template-rows: auto 2fr auto;
  grid-auto-columns: auto;

  background-color: #22395b;

  border: 1px black solid;
  border-radius: 5px;

  box-shadow: 0.5rem 0.5rem 0.5rem #00000050;

  margin: 2rem;
}

/* CARD - TOP SECTION */
.top {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;

  justify-content: right;

  margin: 1rem 1.5rem;
}

.top-icon {
  width: 3rem;
  padding: 0.5em;

  border-radius: 10px;
}
.top-icon:hover {
  background-color: #00000040;
  transform: scale(1.1);

  transition: 0.3s;
}

.top-icon:active {
  transform: scale(0.9);
}

/* CARD - MIDDLE SECTION */
.middle {
  display: grid;
  place-items: center;
}

.middle .item {
  margin: 2%;
}

.middle img {
  width: 40%;
  height: 40%;

  border-radius: 50%;

  object-fit: cover;
}

/* .middle img:hover {
  transform: scale(1.2);

  transition: 0.3s;
} */

.middle .description {
  margin-bottom: 18px;
}

.middle .button {
  color: var(--text-color);
  text-decoration: none;

  background-color: #ef476f;
  background: -webkit-linear-gradient(right, #ef476f 0%, #722336 100%);
  border-radius: 2em;

  box-shadow: 0.1em 0.1em 0.2em 0.1em #00000050;

  width: 40%;
  height: 100%;

  display: grid;
  place-items: center;

  font-size: large;
}

.middle .button:hover {
  animation: wiggle 0.3s 3;
  background: -webkit-linear-gradient(right, #ef47cb 0%, #602372 100%);
}

@keyframes wiggle {
  25% {
    transform: rotate(2deg);
    transform: scale(1.03);
    background: -webkit-linear-gradient(right, #47efa1 0%, #23723b 100%);
  }

  75% {
    transform: rotate(-2deg);
    transform: scale(1.1);
  }
}

hr {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;

  background-color: #a3928c;
  height: 1px;
  border: none;
}

/* BOTTOM/ SOCIALS SECTION */
.bottom {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10%;

  margin: 10% 12%;
  place-items: center;
}
.bottom .column {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10%;

  place-items: center;

  margin-bottom: 20%;
}
.logo {
  width: 60px;
  padding: 0.2em;
}

.bottom a {
  width: 100px;
  height: 100px;

  box-shadow: 0.1em 0.1em 0.2em 0.1em #00000050;

  border-radius: 50%;
  background-color: #ef476f;
  background: -webkit-linear-gradient(right, #ef476f 0%, #722336 100%);

  display: grid;
  place-items: center;
}

.bottom a:hover {
  transform: scale(1.2);

  transition: 0.2s;
}

.bottom a:active {
  transform: scale(0.9);

  transition: 0.1s;
}

.number {
  font-size: 1.2em;
}
