* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h2,
h3,
p {
  color: #f4d6cc;
}

h2 {
  font-size: 2em;
}

h3 {
  color: #f4d6cc
  font-weight: 300;
}

.card {
    width:500px;
  display: grid;
  grid-template-rows: auto 2fr auto;
  grid-auto-columns: auto;

  background-color: #22395b;

  border: 1px black solid;
  border-radius: 5px;

  box-shadow: 0.5rem 0.5rem 0.5rem #00000050;

  margin: 2rem;
}

/* CARD - TOP SECTION */
.top {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;

  justify-content: right;

  margin: 1rem 1.5rem;
}
  
.top-icon {
  width: 2rem;

  
}

/* CARD - MIDDLE SECTION */
.middle {
  display: grid;
  place-items: center;
}

.middle .item {
  margin: 2%;
}

.middle img {
  width: 40%;
  height: 40%;

  border-radius: 50%;

  object-fit: cover;
}

.middle .button {
  color: #f4d6cc;
  text-decoration: none;

  background-color: #ef476f;
  border-radius: 2em;

  width: 40%;
  height: 100%;

  display: grid;
  place-items: center;

  font-size: large;
}

hr {
  margin: 5%;
}

/* BOTTOM/ SOCIALS SECTION */
.bottom {
  display: grid;
  grid-template-columns: repeat(3, auto);

    margin-bottom: 10%;
  place-items: center;
}
.bottom .column {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 5%;

  place-items: center;

  margin: 5%;
}
.logo {
  width: 100px;
}

